name: manual-docker-build-push
on:
  workflow_dispatch:
        
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: matrix-org/sydent
          ref: 'main'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_REGISTRY_USERNAME }}
          password: ${{ secrets.GH_REGISTRY_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          platforms: linux/amd64
          build-args: version=latest
          context: .
          push: true
          tags: |
            dotwee/matrix-sydent:latest
            ghcr.io/dotwee/matrix-sydent:latest
          labels: |
            maintainer = "Lukas Wolfsteiner <lukas@wolfsteiner.media>"
            org.opencontainers.image.source = "https://github.com/dotWee/docker-matrix-sydent"
