name: manual-docker-build-push
on:
  schedule:
    - cron: '0 0 * * *'
  push:
  
  workflow_dispatch:
    inputs:
      version:
        description: 'Test scenario version'
        required: true
        
 jobs:
 
  build:
    runs-on: ubuntu-latest
    needs: validate
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        repository: matrix-org/sydent
        ref: ${{ github.event.inputs.version }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          platforms: linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x
          build-args: version=${{ github.event.inputs.version }}
          push: true
          tags: dotwee/matrix-sydent:${{ github.event.inputs.version }}
            
